@font-face {
  font-family: 'Gotham Book';
  src: url('../webfonts/gotham_book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'Gotham Medium';
  src: url('../webfonts/gotham_medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td{ font-style: normal; font-weight: normal; margin: 0; padding: 0;}
table{ border-collapse: collapse; border-spacing: 0;}
fieldset, img{ border: 0;}
address, caption, cite, code, dfn, var{ font-style: normal; font-weight: normal;}
ol, ul{ list-style: none;}
caption, th{ text-align: left;}
h1, h2, h3, h4, h5, h6{ font-size: 100%; font-weight: normal;}
q: before, q: after{ content: '';}
abbr, acronym{ border: 0;}

html{ background: #eee url(../img/shattered.png) repeat top center;}
body{ margin: 0 auto 0px; position: relative; width: 1280px;}
a{ cursor: pointer;}

body, input{ font: 20px/1 'Gotham Book', Arial, sans-serif;}
h1 strong, #playlist, .video-title{ font-family: 'Gotham Medium', Arial, sans-serif;}

header{ background: #df1f1f; color: white; height: 40px; padding: 20px 0;}
h1{ float: left; line-height: 40px; text-align: center; width: 160px;}
#search{ float: left; height: 40px; position: relative; width: 880px;}
#query{ background: #ac0809; border: none; border-radius: 20px; color: white; float: left; height: 30px; line-height: 30px; padding: 5px 20px; width: 840px;}
#query:focus{ outline: none;}
#submit{ position: absolute; right: 10px; top: 5px;}
nav{ float: right; line-height: 40px; text-align: center; width: 240px;}
#play, #pause{ cursor: pointer;}
#pause{ display: none;}

#results{ background: #f2f5fd; background: #f5f5f5; height: 680px; overflow-x: hidden; width: 640px;}
.video{ cursor: pointer; min-height: 90px; padding: 10px; padding-left: 140px; position: relative;}
.video:nth-child(2n-1){ background: white;}
.video-image{ float: left; left: 10px; position: absolute; top: 10px;}
.video-title{ padding-top: 5px;}
.video-author{ color: #df1f1f; font-size: 14px; padding: 5px 0;}
.video-description{ color: #727785; font-size: 12px; line-height: 1.5;}
.video:hover{ background: #22242a; color: white;}

#player, #playlist{ background: white; height: 360px; overflow: hidden; position: absolute; right: 0; top: 80px; width: 640px;}
#playerControls, #playlist{ background: white; height: 30px; overflow: hidden; position: absolute; right: 0; top: 80px; width: 640px;}

#player{ background: black; display:none;}
#playerControls{ background: black; height:30px;}
#playerControls a{ background: #333; height: 30px; line-height: 30px; text-align: center; width: 100%; color:#666;}
#playlist{ background: #22242a; color: #727785; font-size: 16px; height:650px; overflow-x: hidden; top: 110px; width: 640px;}
#current{ color: white; font-size: 20px; padding: 20px;}
#playlist ol, #playlist li{ cursor: pointer;}
#playlist ol{ border-bottom: 1px solid #33363f; height: 789px; overflow-x: hidden;}
#playlist li{ border-top: 1px solid #33363f; cursor: pointer;}
#history li{ color: #33522d;}
.item-title{ margin-right: 80px;
padding: 10px 5px;
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;}
.item-title:hover{ background: #1171A2; color: white;}
.item-delete{ color: #ac0809; float: right; text-align: center; padding: 10px 0; width: 80px;}
.item-delete:hover{ background: #ac0809; color: white;}
#history .item-title:hover{ background: #33522d; color: white;}
#tabs, #tabs a{ background: #333; height: 64px; left: 0; line-height: 64px; position: absolute; text-align: center; width: 100%;}
#tabs{ bottom: 0;}
#tabs a{ color: #666; width: 50%;}
#tabs a:last-child{ left: 50%;}
#tabs .on{ background: #22242a; color: white;}

footer{ color: #888; font-size: 16px; padding: 10px 0; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);}
footer em{ float: right; font-style: normal;}
footer a{ color: #666;}
footer a:hover{ color: #444;}

::-webkit-input-placeholder{ color: #df1f1f;}
:-moz-placeholder{ color: #df1f1f;}
::-moz-placeholder{ color: #df1f1f;}
:-ms-input-placeholder{ color: #df1f1f;}
.connect-modal {
    display: block; /* ensures it’s invisible until it’s called */
    position: absolute; /* makes the div go into a position that’s absolute to the browser viewing area */
    left: 35%; /* positions the div half way horizontally */
    top: 25%; /* positions the div half way vertically */
    padding: 15px;
    border: 2px solid black;
    background-color: #ffffff;
    /*width: 50%;*/
    /*height: 50%;*/
    z-index: 100; /* makes the div the top layer, so it’ll lay on top of the other content */
}
/*.connect-modal .container {*/
    /*margin-left:200px;*/
/*}*/
.connect-modal .btn {
    padding:4px;
    border-radius:2px;
    border:0;
    color:white;
    background-color:#E74C3C;
}
.connect-modal .input {
    border-radius:3px;
}
.fade {
    display: block;  /* ensures it’s invisible until it’s called */
    position: absolute;  /* makes the div go into a position that’s absolute to the browser viewing area */
    left: 0%; /* makes the div span all the way across the viewing area */
    top: 0%; /* makes the div span all the way across the viewing area */
    background-color: black;
    -moz-opacity: 0.7; /* makes the div transparent, so you have a cool overlay effect */
    opacity: .70;
    filter: alpha(opacity=70);
    width: 100%;
    height: 100%;
    z-index: 90; /* makes the div the second most top layer, so it’ll lay on top of everything else EXCEPT for divs with a higher z-index (meaning the #overlay ruleset) */
}
.move-wrap {
    float:left;
    padding: 10px 10px;
}
.move-wrap span{
    padding:0px 5px;
    color: white;
}
body { width:320px; margin:0;}
body, input{ font: 16px/1 'Gotham Book', Arial, sans-serif;}
#search { width:250px;}
#query {width:280px;}
.connect-modal {
    display: block;
    position: absolute;
    left: 35%;
    top: 25%;
    padding: 15px;
    border: 2px solid black;
    background-color: #ffffff;
    z-index: 100;
}

