@font-face {
  font-family: 'Gotham Book';
  src: url('../webfonts/gotham_book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'Gotham Medium';
  src: url('../webfonts/gotham_medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/*html{ }*/
body, input{ font: 20px/1 'Gotham Book', Arial, sans-serif;}

.connect-modal {
    display: none; /* ensures it’s invisible until it’s called */
    position: absolute; /* makes the div go into a position that’s absolute to the browser viewing area */
    left: 35%; /* positions the div half way horizontally */
    top: 25%; /* positions the div half way vertically */
    padding: 15px;
    border: 2px solid black;
    background-color: #ffffff;
    /*width: 50%;*/
    /*height: 50%;*/
    z-index: 100; /* makes the div the top layer, so it’ll lay on top of the other content */
}
/*.connect-modal .container {*/
    /*margin-left:200px;*/
/*}*/
.connect-modal .btn {
    padding:4px;
    border-radius:2px;
    border:0;
    color:white;
    background-color:#E74C3C;
}
.connect-modal .input {
    border-radius:3px;
}
.fade {
    display: none;  /* ensures it’s invisible until it’s called */
    position: absolute;  /* makes the div go into a position that’s absolute to the browser viewing area */
    left: 0%; /* makes the div span all the way across the viewing area */
    top: 0%; /* makes the div span all the way across the viewing area */
    background-color: black;
    -moz-opacity: 0.7; /* makes the div transparent, so you have a cool overlay effect */
    opacity: .70;
    filter: alpha(opacity=70);
    width: 100%;
    height: 100%;
    z-index: 90; /* makes the div the second most top layer, so it’ll lay on top of everything else EXCEPT for divs with a higher z-index (meaning the #overlay ruleset) */
}
.move-wrap {
    float:left;
    padding: 10px 10px;
}
.move-wrap span{
    padding:0px 5px;
    color: white;
}
html, body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    }

.mobile-frame {
    width: 100%;
    position: relative;
    overflow: hidden;
    -webkit-transition: -webkit-transform .2s linear;
    -moz-transition: -moz-transform .2s linear;
    transition: transform .2s linear;

    }

.mobile-content {
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    background: #eee url(../img/shattered.png) repeat top center;
    }

.mobile-nav {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    }

body {
    font-family: sans-serif;
    color: #444;
    }

a:link,
a:visited,
a:hover {
    color: #000;
    text-decoration: none;
    }

.mobile-header {
    background-color:#df1f1f;
}
.mobile-footer {
    background-color: #BBB;
    }

.mobile-content {
    background-color: #F1F1F1;
    }

.mobile-nav {
    background-color: #DDD;
    box-shadow: inset -.0625em 0 .625em rgba(0,0,0,.6);
    }

.search-form {
    padding: .625em;
    margin-bottom: .625em;
    }

.search-form input {
    width: 90%;
    padding: .3125em .3125em;
    border-color: #666;
    font-size: 14px;
    }

.main-nav {
    padding-left: 0;
    list-style: none;
    border-bottom: 1px solid rgba(255,255,255,.2);
    border-top: 1px solid rgba(0,0,0,.05);
    }

.main-nav-item {
    border-top: 1px solid rgba(255,255,255,.2);
    border-bottom: 1px solid rgba(0,0,0,.05);
    }

.main-nav-item a {
    display: block;
    padding: 0 .625em;
    line-height: 2.8;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-tap-highlight-color: rgba(0, 0, 0, 0);
    tap-highlight-color: rgba(0, 0, 0, 0);
    }

.mobile-nav-toggle {
    width: 40px;
    height: 40px;
    margin: 5px .625em;
    float: left;
    border: 1px solid #999;
    color: #EEE;
    background: #34495E url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAiIGhlaWdodD0iNDAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGc+PHJlY3QgaGVpZ2h0PSI1IiB3aWR0aD0iMjQiIHk9IjciIHg9IjciIGZpbGw9IiM5OTk5OTkiLz48cmVjdCBoZWlnaHQ9IjUiIHdpZHRoPSIyNCIgeT0iMTciIHg9IjciIGZpbGw9IiM5OTk5OTkiLz48cmVjdCBoZWlnaHQ9IjUiIHdpZHRoPSIyNCIgeT0iMjciIHg9IjciIGZpbGw9IiM5OTk5OTkiLz48L2c+PC9zdmc+) 0 0 no-repeat;
    border-radius: 3px;
    overflow: hidden;
    text-align: left;
    text-indent: 150%;
    -webkit-appearance: none;
    appearance: none;
    outline:0;
    }

.mobile-header-inner,
.mobile-content-inner,
.mobile-footer-inner {
    padding: 0 .625em;
    }

.mobile-header-inner {
    padding-top: 5px;
    padding-bottom: 5px;
    float: left;
    }

.mobile-header-inner strong {
    line-height: 40px;
    font-size: 1.5em;
    color: white;
    float:left;
    }
.mobile-header-inner small {
    color: #ECF0F1;
    text-transform:uppercase;
}
.mobile-content h1 {
    padding: 0 .416667em;
    }

.mobile-footer small {
    line-height: 30px;
    }

.search-results h2 {
    font-size: 1.25em;
    }

@media (max-width: 480px) {

    .github-ribbon {
        width: 99px;
        height: 99px;
        }

    .mobile-header-inner strong {
        font-size: 1.1em;
        }

}


